@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  margin: 0;
  padding: 0;
  border-spacing: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  background-color: #111116;
  --pink: #ff1c68;
  --green: #14d790;
  --blue: #198fe3;
  --black: #21282d;
  --purple: #9b65de;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #ff1461;
  font-size: 4em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

td {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}
